// Extra large devices (large desktops, 1200px and up)
@media (max-width: $ExtraLargeDevices) {
  .home {
    .homeImg {
      background-image: url("../assets/img/lisanto-kwNgFbX2xBo-unsplash.jpg");
      background-position: 50% 95%;
    }
    .homeImg .wrap {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .startBtn {
      background-color: rgba(239, 159, 76, 0.65);
    }
    .startBtn::after {
      background-color: rgba(239, 159, 76, 0.4);
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: $LargeDevices) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: $MediumDevices) {
}

// Small devices (landscape phones, 576px and up)
@media (max-width: $SmallDevices) {
  .home {
    .startBtn {
      width: 120px;
      height: 120px;
      font-size: 1.5rem;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: $ExtraSmallDevices) {
}
